/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/busin.jpg');
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: gray;
	width: 500px;
	height: 1000px;
	color: white;
	padding: 50px;
}

h1 {
	font-size: 80px;
	font-family: Oswald;
	padding: 50px;
}

h2 {
	background: white;
	text-align: center;
	color: black;
	font-family: Display;
	padding: 5px;
	border-radius: 5px;
}

a {
	font-family: Display;
	align-content: center;
	color: #0703fc;
	text-decoration: none;
}

p {
	font-family: Display;
}